{% extends 'base.html' %}
{% load static %}
{% load carts_tags %}

{% block content %}
<div class="container">
    <h3 class="page-title">Выбранные товары</h3>
    <div class="container" id="cart-items-container">
        <!-- Разметка корзины -->
        {% user_carts request as carts %}

        {% include 'carts/includes/included_cart.html' %}
        <!-- Закончилась разметка корзины -->
    </div>
</div>
<!-- Детали заказа -->
<div class="container">
    <div class="page-title">Детали заказа</div>
    <form action="{% url 'orders:create_orders' %}" method="post" id="create_order_form">
        {% csrf_token %}
        <label class="order-label" for="id_first_name">Имя <span class="red-star">*</span>:</label>
        <input class="order-input" type="text" id="id_first_name" name="first_name" required>
        {% if form.first_name.errors %}<div class="error-message">{{ form.first_name.errors }}</div>{% endif %}

        <label class="order-label" for="id_last_name">Фамилия <span class="red-star">*</span>:</label>
        <input class="order-input" type="text" id="id_last_name" name="last_name" required>
        {% if form.last_name.errors %}<div class="error-message">{{ form.last_name.errors }}</div>{% endif %}

        <label class="order-label" for="id_phone_number">Номер телефона <span class="red-star">*</span>:</label>
        <input class="order-input" type="text" id="id_phone_number" name="phone_number" placeholder="(000) 00-00-00" required>
        {% if form.phone_number.errors %}<div class="error-message">{{ form.phone_number.errors }}</div>{% endif %}

        <label class="order-label">Способ доставки:</label>
        <div class="radio-group">
            <input class="order-radio" type="radio" name="requires_delivery" id="delivery_yes" value="1" checked>
            <label class="order-label" for="delivery_yes">Нужна доставка</label>
            <input class="order-radio" type="radio" name="requires_delivery" id="delivery_no" value="0">
            <label class="order-label" for="delivery_no">Самовывоз</label>
        </div>

        <label class="order-label" for="id_delivery_address">Адрес доставки <span class="red-star">*</span>:</label>
        <textarea class="order-input" id="id_delivery_address" name="delivery_address" rows="2"></textarea>
        {% if form.delivery_address.errors %}<div class="error-message">{{ form.delivery_address.errors }}</div>{% endif %}

        <label class="order-label">Способ оплаты:</label>
        <div class="radio-group">
            <input class="order-radio" type="radio" name="payment_on_get" id="payment_card" value="0" checked>
            <label class="order-label" for="payment_card">Оплата картой</label>
            <input class="order-radio" type="radio" name="payment_on_get" id="payment_cash" value="1">
            <label class="order-label" for="payment_cash">Наличными/картой при получении</label>
        </div>
        {% if form.payment_on_get.errors %}<div class="error-message">{{ form.payment_on_get.errors }}</div>{% endif %}

        <button class="btn" type="submit">Оформить заказ</button>
    </form>
</div>
{% endblock %}