{% load static %}

<div class="card">
    {% for cart in carts %}
        <div class="card-header">
            <h5 class="card-title">{{ cart.product.name }}</h5>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="flex-container">
                    <div class="flex-item">
                        {% if cart.product.images.first %}
                        <img class="cart-product-image" src="{{ cart.product.images.first.image.url }}" alt="{{ cart.product.name }}">
                        {% else %}
                        <img src="{% static 'deps/images/Not found image.png' %}" alt="Not Found" class="cart-product-image">
                        {% endif %}
                    </div>
                    <div class="flex-item">
                        <div class="input-group">
                            <button class="quantity-btn decrement"
                                data-cart-id="{{ cart.id }}"
                                data-cart-change-url="{% url 'cart:cart_change' %}">
                                {% csrf_token %}
                                -
                            </button>
                            <input type="text" class="number" value="{{ cart.quantity }}" readonly>
                            <button class="quantity-btn increment"
                                data-cart-id="{{ cart.id }}"
                                data-cart-change-url="{% url 'cart:cart_change' %}">
                                {% csrf_token %}
                                +
                            </button>
                        </div>
                    </div>
                    <div class="flex-item">
                        {% if cart.product.discount %}
                         <p class="old-price"><s>{{ cart.product.price }}</s> $</p>
                        <p>x {{ cart.product.sell_price }} = </p>
                        {% else %}
                        <p>x {{ cart.product.sell_price }} = </p>
                        {% endif %}
                    </div>
                    <div class="flex-item">
                        <strong>{{ cart.products_price }} $</strong>
                    </div>
                    <div class="flex-item">
                        <a href="{% url 'cart:cart_remove' %}" class="remove-from-cart"
                           data-cart-id="{{ cart.id }}">
                            {% csrf_token %}
                            <img src="{% static 'deps/icons/trash3-fill.svg' %}"
                                alt="Remove Icon" width="16" height="16">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>
<div class="card">
    <div class="card-footer">
        <p>Итого <strong>{{ carts.total_quantity }}</strong> товар(а) на сумму</p>
        <h4><strong>{{ carts.total_price }} $</strong></h4>
    </div>
</div>
{% if carts and not order %}
    <a class="btn" href="{% url 'orders:create_orders' %}">
        Оформить заказ
    </a>
{% endif %}

