{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-container">
        <div class="page-title">Авторизация</div>
        <form action="{% url 'user:login' %}" method="post">
            {% csrf_token %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <label class="auth-label" for="id_username">Имя пользователя</label>
            <input class="auth-input" type="text" name="username" id="id_username"
                   value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                   placeholder="Введите ваше имя пользователя" required>
            <label class="auth-label" for="id_password">Пароль</label>
            <input class="auth-input" type="password" name="password" id="id_password"
                   placeholder="Введите ваш пароль" required>
             {% if form.non_field_errors %}
                <div class="error-message">{{ form.non_field_errors }}</div>
            {% endif %}
            <button type="submit" class="btn-auth">Войти</button>
        </form>
        <div class="links">
            <a href="#">Забыли пароль?</a> |
            <a href="{% url 'user:registration' %}">Создать аккаунт</a>
        </div>
        <hr>
        <div class="social-login">
            <p>Или авторизуйтесь через:</p>
            <a href="#">
                <img src="{% static 'deps/icons/google.svg' %}" alt="Google" width="16" height="16"> Google
            </a>
            <a href="#">
                <img src="{% static 'deps/icons/facebook.svg' %}" alt="Facebook" width="16" height="16"> Facebook
            </a>
            <a href="#">
                <img src="{% static 'deps/icons/github.svg' %}" alt="GitHub" width="16" height="16"> GitHub
            </a>
        </div>
    </div>
</div>
{% endblock %}