
{% extends "base.html" %}
{% load static %}
{% load cache %}
{% load carts_tags %}

{% block content %}
<div class="page-title">Профиль пользователя</div>
<div class="profile-container">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-container">
        <div class="image-section">
            <div class="image-preview" id="image-preview">
                {% if form.instance.image %}
                    <img src="{{ form.instance.image.url }}" alt="Profile Image" id="preview-image">
                {% else %}
                    <p id="no-image-text">No image uploaded</p>
                {% endif %}
            </div>
            <label for="id_image" class="custom-file-label">Выбрать фото</label>
            {{ form.image }}
        </div>
        <div class="fields-section">
            <div class="form-field">
                <label for="id_first_name">Имя:</label>
                {{ form.first_name }}
            </div>
            <div class="form-field">
                <label for="id_last_name">Фамилия:</label>
                {{ form.last_name }}
            </div>
            <div class="form-field">
                <label for="id_username">Имя пользователя:</label>
                {{ form.username }}
            </div>
            <div class="form-field">
                <label for="id_email">Email:</label>
                {{ form.email }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn img-btn">Сохранить</button>
</form>

<!-- Корзина -->
{% user_carts request as carts %}
<div class="cart-container">
    <div class="col-md-7">
        <div class="bg-white p-4 mb-4 mx-2 rounded custom-shadow">
            <div class="page-title">Корзина</div>
            <div class="container" id="cart-items-container">
                <!-- Разметка корзины -->
                {% include "carts/includes/included_cart.html" %}
                <!-- Закончилась разметка корзины -->
            </div>
        </div>
    </div>
</div>

<!-- Оформленные заказы -->
<div class="orders-container">
    <div class="col-md-12">
            <div class="page-title">Мои заказы</div>
            <!-- Разметка заказов -->
            <div class="container">
    <div class="accordion" id="accordionExample">
        {% for order in orders %}
        <div class="accordion-item">
            <input type="checkbox" id="accordion{{ order.id }}">
            <label class="accordion-header" for="accordion{{ order.id }}">
                Заказ № {{ order.id }} - {{ order.created_timestamp }} | Статус: <strong>{{ order.status }}</strong>
                <img class="toggle-icon" src="/static/deps/icons/chevron-down.png" alt="Toggle">
            </label>
            <div class="accordion-body">
                <table>
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Общая стоимость</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.orderitem_set.all %}
                        <tr>
                            <td><a href="{% url 'products:product' item.product.slug %}">{{ item.product.name }}</a></td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.products_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
            <!-- Закончилась разметка заказов -->
    </div>
</div>

{% endblock  %}
