{% extends 'base.html' %}
{% load static %}
{% load carts_tags %}

{% block content %}
{% user_carts request as carts %}
  <div class="row">
    <div class="container">
        <div class="cart-content">
                <div class="page-title">Корзина</div>
                <div class="cart-wrapper" id="cart-items-container">
                    <!-- Разметка корзины -->
                    {% include 'carts/includes/included_cart.html' %}
                    <!-- Закончилась разметка корзины -->
                </div>
        </div>
    </div>
</div>
{% endblock %}