<!DOCTYPE html>
{% load static %}
{% load cache %}
{% load product_tags %}
{% load contact_tags %}
{% load phone_filter_tags %}
{% load carts_tags %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'deps/css/my_css.css' %}">
    <!-- Favicons for different platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'deps/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'deps/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'deps/favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'deps/favicon/site.webmanifest'%}">
    <title>{{ title }}</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav>
                <div class="navbar">
                    <div class="nav-logo">
                        <a class="logo" href="{% url 'main:index' %}">CASA ACCOGLIENTE</a>
                    </div>
                    {% user_carts request as carts %}
                    <ul class="menu">
                        <li><a class="dropdown-item" href="{% url 'main:about' %}">О нас</a></li>
                        <li><a class="dropdown-item" href="{% url 'main:payment_and_delivery' %}">Доставка и оплата</a></li>
                        <li><a class="dropdown-item" href="{% url 'main:contact_info' %}">Контакты</a></li>
                        <li>
                            <a href="{% url 'user:users_cart' %}">
                                <img class="cart-icon" src="{% static 'deps/icons/cart.svg' %}" alt="Корзина" width="30" height="31">
                                <div class="products-in-cart-count">{{ carts.total_quantity }}</div>
                            </a>
                        </li>
                        {% if not user.is_authenticated %}
                        <li>
                            <a href="{% url 'user:login' %}">
                                <img src="{% static 'deps/icons/user.svg' %}" alt="Профиль" width="28" height="30">
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <button class="dropdown_toggle" aria-expanded="false">
                                <img src="{% static 'deps/icons/user.svg' %}" alt="Профиль" width="28" height="30">
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'user:users_cart' %}">Корзина</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'user:profile' %}">Личный кабинет</a>
                                </li>
                                {% if user.is_admin or user.is_staff %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">Админ панель</a>
                                </li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'user:logout' %}">Выйти</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    </ul>
                </div>
           </nav>
        </div>
    </header>
    <section>
        <div class="slider-wrap">
            <div class="container">

                {% block categories %}
                <!-- Каталог -->
                <div class="category">
                    <ul class="category-list">
                        <li class="category-item cat_title">Каталог</li>
                        {% cache 60 catalog_categories %}
                        {% tag_categories as categories %}
                        {% for category in categories %}
                        <li class="category-item"><a href="{% url 'catalog:index' category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                        {% endcache %}
                    </ul>

                </div>
                {% endblock %}

            </div>
            <!-- Swiper -->
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <h3 class="slide-title">
                            Poltrona Elegante
                        </h3>
                        <div class="slide-desc">
                            это стильное и элегантное кресло, которое станет украшением любого интерьера. Мягкие формы и
                            высококачественные материалы создают атмосферу уюта и роскоши, идеально подходя для гостиной или рабочего кабинета.
                        </div>
                        <img src="{% static 'deps/images/swiper/chiar.png' %}" alt="">
                    </div>
                    <div class="swiper-slide">
                        <h3 class="slide-title">
                            Poltrona Riflesso
                        </h3>
                        <div class="slide-desc">
                            - Questa poltrona è un esempio di design moderno con una struttura in metallo leggera e
                            chiaramente visibile che crea un'illusione ottica attraente.
                        </div>
                         <img src="{% static 'deps/images/swiper/wing.png' %}" alt="">
                    </div>
                    <div class="swiper-slide">
                        <h3 class="slide-title">
                            Divano Sereno
                        </h3>
                        <div class="slide-desc">
                            - это диван, воплощающий идею комфорта и спокойствия. С его мягкими подушками и изысканным
                            дизайном он подарит вам ощущение уюта и расслабления в любой комнате.
                        </div>
                        <img src="{% static 'deps/images/swiper/sofa.png' %}" alt="">
                    </div>
                    <div class="swiper-slide">
                        <h3 class="slide-title">
                            Poltrona Elegante
                        </h3>
                        <div class="slide-desc">
                            - это стильное и элегантное кресло, которое станет украшением любого интерьера. Мягкие формы и
                            высококачественные материалы создают атмосферу уюта и роскоши, идеально подходя для гостиной или рабочего кабинета.
                        </div>
                        <img src="{% static 'deps/images/swiper/wing-chiar.png' %}" alt="">
                    </div>
                </div>
                <div class="pagination">
                    <div class="swiper-button-next">
                        <div class="slide-title">

                        </div>
                        <img src="{% static 'deps/icons/right.png' %}" alt="">
                    </div>
                    <div class="swiper-button-prev">
                        <div class="slide-title">

                        </div>
                        <img src="{% static 'deps/icons/left.png' %}" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    </section>
{% block brands %} {% endblock %}
{% block footer %}
{% tag_contacts as contacts %}
{% for contact in contacts %}
<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="socials">
                <a href="{{ contact.facebook }}" class="social-link" target="_blank"><img src="{% static 'deps/icons/socials/fb.png' %}" alt="CASA ACCOGLIENTE"></a>
                <a href="{{ contact.instagram }}" class="social-link" target="_blank"><img src="{% static 'deps/icons/socials/In.png' %}" alt=""></a>
                <a href="{{ contact.vk }}" class="social-link" target="_blank"><img src="{% static 'deps/icons/socials/vk.png' %}" alt=""></a>
            </div>
            <div class="footer-logo">
                <a class="logo" href="{% url 'main:index' %}">CASA ACCOGLIENTE</a>
            </div>
            <div class="contacts">
                <p>Адрес: {{ contact.address }}</p>
                <p>Телефон: +{{ contact.phone|phone_format }}</p>
                <p>Email: {{ contact.email }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>
{% endblock %}
    <script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'deps/js/main.js' %}"></script>
</body>

</html>