{% extends "base.html" %}
{% load static %}
{% load product_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <!-- Форма фильтров -->
<!--    <div class="filter-dropdown">-->
<!--        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"-->
<!--            aria-expanded="false">-->
<!--            Фильтры-->
<!--        </button>-->

<!--        <form action="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:index' slug_url %} {% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">-->
<!--            <div class="form-check text-white mx-3">-->
<!--                <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == 'on' %} checked {% endif %}>-->
<!--                {% if request.GET.q %}-->
<!--                    <input type="hidden" name="q" value="{{ request.GET.q }}">-->
<!--                {% endif %}-->
<!--                <label class="form-check-label" for="flexCheckDefault">-->
<!--                    Товары по акции-->
<!--                </label>-->
<!--            </div>-->
<!--            <p class="text-white mx-3 mt-3">Сортировать:</p>-->
<!--            <div class="form-check text-white mx-3">-->
<!--                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default"-->
<!--                {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>-->
<!--                <label class="form-check-label" for="flexRadioDefault1">-->
<!--                    По умолчанию-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check text-white mx-3">-->
<!--                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price"-->
<!--                       {% if request.GET.order_by == 'price' %}checked{% endif %}>-->
<!--                <label class="form-check-label" for="flexRadioDefault2">-->
<!--                    От дешевых к дорогим-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check text-white mx-3">-->
<!--                <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price"-->
<!--                       {% if request.GET.order_by == '-price' %}checked{% endif %}>-->
<!--                <label class="form-check-label" for="flexRadioDefault3">-->
<!--                    От дорогих к дешевым-->
<!--                </label>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>-->
<!--        </form>-->
<!--    </div>-->
    <div class="filter">
    <button class="dropdown-toggle" type="button" id="filtersButton">
        Фильтры
    </button>

    <form action="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:index' slug_url %} {% endif %}" method="get" class="dropdown-filter">
        <div class="filter-item">
            <input class="checkbox" type="checkbox" name="on_sale" id="onSaleFilter" value="on" {% if request.GET.on_sale == 'on' %}checked{% endif %}>
            {% if request.GET.q %}
                <input type="hidden" name="q" value="{{ request.GET.q }}">
            {% endif %}
            <label for="onSaleFilter">
                Товары по акции
            </label>
        </div>
        <p>Сортировать:</p>
        <div class="filter-item">
            <input class="radio" type="radio" name="order_by" id="sortDefault" value="default" {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
            <label for="sortDefault">По умолчанию</label>
        </div>
        <div class="filter-item">
            <input class="radio" type="radio" name="order_by" id="sortPriceLow" value="price" {% if request.GET.order_by == 'price' %}checked{% endif %}>
            <label for="sortPriceLow">От дешевых к дорогим</label>
        </div>
        <div class="filter-item">
            <input class="radio" type="radio" name="order_by" id="sortPriceHigh" value="-price" {% if request.GET.order_by == '-price' %}checked{% endif %}>
            <label for="sortPriceHigh">От дорогих к дешевым</label>
        </div>
        <button type="submit" class="apply-button">Применить</button>
    </form>
</div>

    {% if request.GET.q %}
        <h3>Результаты поиска по запросу {{ request.GET.q }}</h3>
        {% if not products %}
            <h2>По запросу ничего не найдено</h2>
        {% endif %}
    {% endif %}

<div class="products-list">
    {% for product in products %}
        <div class="product-card">
            <div class="card-body">
                {% if product.images.first %}
                    <div class="image-wrapper">
                        <a href="{% url 'catalog:product' product.slug %}">
                            <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="product-image">
                        </a>
                        {% if product.discount %}
                            <span class="discount-badge">Скидка {{ product.discount }}%</span>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="image-wrapper">
                        <a href="{% url 'catalog:product' product.slug %}">
                            <img src="{% static 'deps/images/Not found image.png' %}" alt="Not Found" class="product-image">
                        </a>
                    </div>
                {% endif %}
                <p class="product-category">
                    <a href="{% url 'catalog:index' product.category.slug %}">
                        {{ product.category.name }}
                    </a>
                </p>
                <a href="{% url 'catalog:product' product.slug %}" class="product-name">
                    {% autoescape off %}
                        {% if product.headline %}{{ product.headline }}{% else %}{{ product.name }}{% endif %}
                    {% endautoescape %}
                </a>
                <p class="product-description">
                    {% autoescape off %}
                        {% if product.bodyline %}{{ product.bodyline|truncatechars:100 }}{% else %}{{ product.description|truncatechars:55 }}{% endif %}
                    {% endautoescape %}
                </p>
                <p class="product-id">id: {{ product.display_id }}</p>
                <div class="price-info">
                    {% if product.discount %}
                        <p class="old-price"><s>{{ product.price }}</s> $</p>
                        <p class="new-price"><strong>{{ product.sell_price }} $</strong></p>

                    {% else %}
                        <p class="new-price"><strong>{{ product.price }} $</strong></p>
                    {% endif %}
                    <a href="{% url 'cart:cart_add' %}" class="add-to-cart-button" data-product-id="{{ product.id }}" onclick="addToCart(event, {{ product.id }})">
                        {% csrf_token %}
                        <img class="cart-icon" src="{% static '/deps/icons/plus.svg' %}" alt="Добавить в корзину" width="20" height="20">
                    </a>
                </div>
            </div>

        </div>
    {% endfor %}
</div>

<!-- Пагинация -->
{% if products %}
<nav class="page-navigation">
    <ul class="pagination">

        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
          <a class="page-link" href="{% if page_obj.has_previous %}?{% change_params page=page_obj.previous_page_number %}{% else %}#{% endif %}">Назад</a>
        </li>
        {% for page in page_obj.paginator.page_range%}
        {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
            <li class="page-item {% if page_obj.number == page %} active {% endif %}">
                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
            </li>
        {% endif %}
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
          <a class="page-link" href="{% if page_obj.has_next %}?{% change_params page=page_obj.next_page_number %}{% else %}#{% endif %}">След</a>
        </li>

    </ul>
</nav>
{% endif %}
{% endblock %}