{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}

<div class="product-wrapper">
    <div class="column">
        <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" id="featured">

        <div id="slide-wrapper">
            <img id="slideLeft" class="thum-arrow" src="{% static 'deps/icons/left.png' %}" alt="">
            <div id="slider">
                {% for image in product.images.all %}
                <img class="thumbnail {% if forloop.first %}active{% endif %}" src="{{ image.image.url }}" alt="{{ product.name }}">
                {% endfor %}
            </div>
            <img id="slideRight" class="thum-arrow" src="{% static 'deps/icons/right.png' %}" alt="">
        </div>
    </div>
    <div class="column">

        <!-- Описание товара -->
            <div class="card-body">
                <div class="card-title">{{ product.name }}</div>
                <p class="product-id page">id: {{ product.display_id }}</p>

                <div class="card-text">
                    <span class="short-description">
                        {{ product.description|truncatechars:550 }}
                    </span>
                    {% if product.description|length > 550 %}
                    <span class="full-description" style="display: none;">
                        {{ product.description }}
                    </span>
                    <button class="toggle-description">Читать далее</button>
                    {% endif %}
                </div>
                <div class="price-on_page">
                    {% if product.discount %}
                    <div class="old-price-on_page"><s>{{ product.price }}</s> $</div>
                    <div class="new-price-on_page"><strong>{{ product.sell_price }} $</strong></div>

                    {% else %}
                        <div class="new-price-on_page"><strong>{{ product.price }} $</strong></div>
                    {% endif %}
                    <a href="{% url 'cart:cart_add' %}" class="add-to-cart" data-product-id="{{ product.id }}">
                    {% csrf_token %}
                        Добавить в корзину
                    </a>
                </div>
            </div>
    </div>

</div>


{% endblock%}